*{
    padding: 0 ;
    margin:4vh 4vw 2vh 4vw;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header{
    margin: 0;
}
.portada{    
    height: 40vh;
    border: 1px solid black;
    margin : 0 0 1vh 0;
    background-image: url(./assets/fondo/design1_image1.jpg);
    display: block;
background-size:cover;
background-position: center;
}

h1 {
    font-size: 7vh;
    vertical-align: top;
    margin: 0;
}

.portada2{
    height: 3.5vh;
    margin: 0 0 1vh 0;
    background-color: black;
    display: block;
    text-align: center;
}

.texto_portada {
    vertical-align: top;
    margin: 0;
    color: aliceblue;
    display: inline-block;
}

.logo {
    vertical-align: top;
    margin: 0;
    height: 6vh;
    padding-left: 8vw;
}

nav {
    height: 22vh;
    width: 20%;
    margin: 2vh 0 0 0;
    /* border: 1px solid black; */
    display: inline-block;
    box-sizing: content-box;
    vertical-align:top;
}
nav * {
    margin: 1vh 3vw 5vh 3vw;
    display: inline-block;

}

main{
    height: 30vh;
    width: 75%;
    margin: 2vh 0 0 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
}
section{
    margin: 0;
    padding-top: 1vh;
}
section > article {
    margin: 0 0 2vh 0;
    text-align:left;
    vertical-align: top;
}
 h3{
    margin: 0 0 0 1vw; 
 }
.correo{
    margin: 0;
}
 section p{
    margin: 0 0 0 1vw;
 }






